@charset "utf-8";
/* CSS Document */

.back{
	display: block;
	position: absolute;
	top:5vh;
	left: 2.25%;
	color:#898989;
}

.back a:hover{
	color: #000;
}

.videobox{
	display: block;
	position: absolute;
	width: 95.5vw;
	height: auto;
	left: 2.25%;
	top:18%;
}

.videobox video{
	display: flex;
	position: relative;
	height: 70vh;
	align-content: center;
	justify-content: center; 
	margin: auto;
}