@charset "utf-8";
/* CSS Document */
#preloader {
    background: url(../images/loading/Loading.gif) center center no-repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 12000;
}

@media(max-width:1024px){
	#preloader {
		width: 100vw;
		height: 100%;
	}
}